/**
 * Fonts
 */
 @font-face {
   font-family: "FSecure Headline";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/fsecuresans-headline.woff2") format("woff")
 }

 @font-face {
   font-family: "FSecure Sans";
   font-style: normal;
   font-weight: 400;
   src: url("../fonts/fsecuresans-regular.woff2") format("woff2")
 }

/**
 * Generic
 */

body {
  font-family: "FSecure Sans";
  font-size: 16pt;
}

h1, h2 {
  font-family: "FSecure Headline"
}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 200%;
}

.features, .testimonials, .artifacts {
  min-height: 75vh;
}

/**
 * Hero
 */

.hero {
  min-height: 95vh;
  background-color: #AB33FF;
  color: #EDEDED;
  text-align: center;
}

.hero-title {
  font-size: 96pt;
}

.hero-subtitle {
  font-size: 26pt;
}

/**
 * Features
 */
.features {
  background-image: url('../images/features.jpg');
}

.features-title {
  color: #FF3366;
}

/**
 * Testimonials
 */

.testimonials {
  background-color: #00EDAB
}

/**
 * Artifacts
 */
.artifacts {
  padding-top: 3rem;
}
