@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700italic,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700|Lora:400,700);

@import url("alabaster.css");

body {
    font-size: 12pt;
    line-height: 1.4rem;
}

div.body h1 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    padding: 0.6rem 0 0 0;
}

div.body h2 {
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin: 0;
}

div.body p,
div.body dd,
div.body li {
    font-size: 1.0rem;
    line-height: 1.4rem;
}

div.sphinxsidebar {
    font-size: 0.8rem;
    line-height: 1.4rem;
}

div.sphinxsidebar h3 {
    font-size: 1.7rem;
    line-height: 1.4rem;
    padding: 2.4rem 0 0.4rem 0;
}
div.sphinxsidebar ul {
    margin: 1rem 0;
}

div.body p {
    text-align: justify;
}

div.body header,
div.sphinxsidebarwrapper header {
    height: 4.2rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin: 0;
    padding: 0;
}
div.body header h1,
div.body header h2,
div.sphinxsidebarwrapper header h1,
div.sphinxsidebarwrapper header h2 {
    font-weight: normal;
    margin: 0; padding: 0;
    line-height: 1.4rem;
}

div.body header h1,
div.sphinxsidebarwrapper header h1 {
    font-size: 100%;
}

div.body header h2,
div.sphinxsidebarwrapper header h2 {
    font-size: 82.5%;
}

div.sphinxsidebarwrapper {
    font-family: 'PT Sans', sans-serif;
    padding: 0;
    color: #3E4349;
}